.coin_search {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 300px;
}

.coin_input {
  background: #222531;

  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
}
.coin_input::placeholder {
  color: #e2e2e2;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 2rem;
  animation: iconspin 2s linear infinite;
}

@keyframes iconspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
